
.main-container {
    background-color: lightcoral;
    color: whitesmoke;
    display: flex;
    height: clamp(200px, 80vw, 400px);
    margin: 50px;
}

.visuals {
    position: relative;
}

.img-container {
    width: clamp(70px, 30vw, 700px);
    height: clamp(100px, 80vw, 400px);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-text {
    position: absolute;
    top: calc(clamp(200px, 80vw, 400px) / 4);
    z-index: 1;
    background-color: rgba(240, 128, 128, .5);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.content {
    padding: 20px;
    width: clamp(120px, 50vw, 500px);
}

p {
    text-align: center;
    margin-bottom: 20px;
    width: 70%;
}


button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}


